# Python
__pycache__/
*.pyc
.venv/
.venv*/
node_modules/
web/dist/
.ruff_cache/
.mypy_cache/
.pytest_cache/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Outputs
predictions/
outputs/
*.log
